ion-item {
  --ion-item-background: #d7e9e5;
  margin-bottom: 5px;
  animation: popIn 0.2s calc(var(--animation-order) * 100ms) both ease-in-out;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
